@import "mocha";

* { all: unset; }

.powermenu {
    background-color: transparent;
}

.powermenu > * {
    margin: 2em;
}

.roundbox {
    color: $text;
    background-color: $base;
    border-radius: 10px;
    padding: 0.5em;
}

.calendar {
    background-color: $base;
    border-radius: 10px;
}

.calendar:selected {
    background: $pink;
}

.text-lg {
    font-size: 2em;
}

button:hover {
    color: $pink;
}
