# Ignore everythig
*

# Except specified data
# This helps protect from accidentally commiting sensitive information
# by requiring explicitly allowing information
# It also allows us to only add the specific files we want to maintain across
# installations for instance certain applications specific to a distro will
# have configuration files here but we don't care about them
!.gitignore
!README.md

!pipewire
!pipewire/*.conf

!alacritty
!alacritty/*.yml

!awesome
!awesome/**/*

!nushell
!nushell/*.nu

!nvim
!nvim/**/*

!spotifyd
!spotifyd/*.conf

!zellij
!zellij/*.kdl
